<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>글 목록</h1>
<a href="/writePost">글 쓰기</a>
<table>
    <thead>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>수정자</td>
        <td>작성 일시</td>
        <td>댓글 수</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postList}">
        <td th:text="${post.postID}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.user.userName}"></td>
        <td th:text="${post.user.userName}"></td>
        <td th:text="${post.createdDate}"></td>
        <td th:text="${post.comment.count}"></td>
        <td><a th:href="${'/posts/detailView/' + post.postID}">내용 보기</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>